* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bellota Text';
}
body {
  /* background-color: #091921; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.content {
  /* color: #fff; */
  text-align: center;
  /* text-transform: uppercase; */
}
.content a {
  display: inline-block;
  text-decoration: none;
  /* color: #fff;
  border: 1px solid #fff; */
  padding: 10px 15px;
  width: 200px;
  margin-top: .1em;
  transition: 0.3s all ease;
}
.content a:hover {
  color: #091921;
  background-color: #fff;
}
.cover-left {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 1000;
}

/* photobooth slide to left*/
.transition-left.slide-left .cover1 {
  background-color: #d4905d;
  animation: slide-left 0.3s ease-in-out forwards;
}
.transition-left.slide-left .cover2 {
  background-color: #eecc8b;
  animation: slide-left 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition-left.slide-left .cover3 {
  background-color: #f3f4db;
  animation: slide-left 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide-left {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

/* kitchen slide to right */
.cover-right {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100vw;
  z-index: 1000;
}
.transition-right.slide-right .cover1 {
  background-color: #ede868;
  animation: slide-right 0.3s ease-in-out forwards;
}
.transition-right.slide-right .cover2 {
  background-color: #7fd9d6;
  animation: slide-right 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition-right.slide-right .cover3 {
  background-color: #c4f2ce;
  animation: slide-right 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide-right {
  from {
    right: -100vw;
  }
  to {
    right: 0;
  }
}

/* broom slide up */
.cover-up {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  top: -100vw;
  z-index: 1000;
}
.transition-up.slide-up .cover1 {
  background-color: skyblue;
  animation: slide-up 0.3s ease-in-out forwards;
}
.transition-up.slide-up .cover2 {
  background-color: teal;
  animation: slide-up 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition-up.slide-up .cover3 {
  background-color: #094992;
  animation: slide-up 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide-up {
  from {
    top: -100vw;
  }
  to {
    top: 0;
  }
}

/* room buttons */
.containerPhoto {
    position: absolute;
    margin-left: -79%;
    bottom: 48%;
}
.containerKitch {
    position: absolute;
    margin-left: 79%;
    bottom: 48%;
}
.containerCloset {
    position: absolute;
    margin-left: -1%;
    bottom: 8%;
}
.containerBroom {
    position: absolute;
    margin-left: -1%;
    bottom: 88%;
}