*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Bellota Text";
  font-size: 16px;
  margin: 0;
  background: #fff;
}
.mouse_area_wrap {
  background: #7aa8b7;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.mouse_hover_area {
  width: 100%;
  height: 100vh;
  background: url("../images/dan.jpg") left top no-repeat;
  background-attachment: fixed;
  background-size: 2000px 1000px;
  opacity: 0.5;
  filter: blur(5px);
}
.mouse {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url("../images/dan.jpg") left top no-repeat;
  background-attachment: fixed;
  background-size: 2000px 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  border: 2px solid #70abff;
}

#button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #70abff;
  background-color: #ffffff;
  border-radius: 6px;
  outline: none;
  position: absolute;
  margin-left: 45%;
  bottom: 5%;
}
