*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
}
.mouse_area_wrap{
	background:#7aa8b7;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.mouse_hover_area{
	width: 100%;
	height: 100vh;
	background:url('../images/dan.jpg') left top no-repeat;
	background-attachment: fixed;
	background-size: 1500px 800px;
	opacity: 0.5;
	filter: blur(5px)	

}
.mouse{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: url('../images/dan.jpg') left top no-repeat;
	background-attachment: fixed;
	background-size: 1500px 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	pointer-events: none;
	border: 2px solid #7aa8b7;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #7aa8b7;
	border-radius: 6px;
	outline: none;
	position: absolute;
	margin-left: 45%;
	bottom: 5%;
  }